
<% @result.each do |row|%>
 <p>
 <%= row['content']%>
 <br/>
 <br/>
 <span style="font-size: 75%; color: #999">Added at: <%= row['created_time']%>
 <br/>
 Autor: <%= row['autor']%></span>
 <hr/>
</p>
<%end%>