<h2>New posts:</h2>
 
 <form action="/new" method="POST">
  <textarea name="content" class="form-control" rows="6" placeholder="Enter your post"></textarea >
  <br/>
  <input name="autor" type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
  <br/>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>